{% extends 'header/navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    <title>Welcome!</title>
</head>
<body>
    <section>
        {% block navigation_bar %}
        {{ block.super }}

        <div class="add-product-title-container">
            <h1>Add Product</h1>
        </div>

        <div class="add-product-form-container">
            <form method="post" action="{% url 'addproduct' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Add Product</button>
            </form>
        </div>
        
        {% endblock %}
    </section>
</body>
</html>
