{% extends 'header/navbar.html' %}
{% block navigation_bar %}
    {{ block.super }}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    <title>Add Product</title>

    <style>
        body {
            background-color: {{ Mcustomization.background_color }};
        }

        .add-product-title-container h1 {
            color:  {{ Mcustomization.title_text_color }};
        }

        .add-product-form-container {
            background-color: {{ Mcustomization.box_color }};
        }

        .add-product-form-container .form-group {
            color: {{ Mcustomization.table_text_color }};
        }
    </style>    
</head>
<body>
    <section>
        <div class="add-product-title-container">
            <h1>Add Product</h1>
        </div>

        <div class="add-product-form-container">
            <form method="post" action="{% url 'addproduct' %}">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="id_name">{{ form.name.label }}</label>
                    {{ form.name }}
                </div>

                <div class="form-group">
                    <label for="id_category">{{ form.category.label }}</label>
                    {{ form.category }}
                </div>

                <div class="form-group">
                    <label for="id_description">{{ form.description.label }}</label>
                    {{ form.description }}
                </div>

                <div class="form-group">
                    <label for="id_price">{{ form.price.label }}</label>
                    {{ form.price }}
                </div>

                <div class="form-group">
                    <label for="id_quantity">{{ form.quantity_in_stock.label }}</label>
                    {{ form.quantity_in_stock }}
                </div>

                <div class="form-group">
                    <label for="id_unit_of_measurement">{{ form.unit_of_measurement.label }}</label>
                    {{ form.unit_of_measurement }}
                </div>

                <div class="form-group">
                    <label for="id_reorder_level">{{ form.reorder_level.label }}</label>
                    {{ form.reorder_level }}
                </div>

                <div class="form-group">
                    <label for="id_supplier">{{ form.supplier.label }}</label>
                    {{ form.supplier }}
                </div>
                
                <div class="form-group">
                    <button type="submit">Add Product</button>
                </div>
            </form>
        </div>
        
    </section>
</body>
</html>
{% endblock %}
