{% extends 'header/navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    <title>Welcome!</title>
</head>
<body>

    <section>
        {% block navigation_bar %}
        {{ block.super }}
            
        <div class="product-list-container">
            {% if products %}
            <table border="3">
                <thead align="center">
                    <tr>
                        <th width="100px">ID</th>
                        <th width="100px">Name</th>
                        <th width="100px">Category</th>
                        <th width="100px">Description</th>
                        <th width="100px">Price</th>
                        <th width="100px">Quantity in Stock</th>
                        <th width="100px">Unit of Measurement</th>
                        <th width="100px">Reorder Level</th>
                        <th width="100px">Supplier</th>
                    </tr>
                </thead>
                <tbody align="center">
                    {% for product in products %}
                        <tr>
                            <td width="100px">{{ product.id }}
                            <td width="100px">{{ product.name }}</td>
                            <td width="100px">{{ product.category }}</td>
                            <td width="100px">{{ product.description }}</td>
                            <td width="100px">{{ product.price }}</td>
                            <td width="100px">{{ product.quantity_in_stock }}</td>
                            <td width="100px">{{ product.unit_of_measurement }}</td>
                            <td width="100px">{{ product.reorder_level }}</td>
                            <td width="100px">{{ product.supplier }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No products available.</p>
        {% endif %}
        </div>

        {% endblock %}
    </section>

</body>
</html>
