<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meats List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'suppliercss/supplier.css' %}">

    <style>
        .navigation-bar {
            background-color: {{ customization.background_color }};
        }

        .navigation-bar {
            color: {{ customization.company_text_color }};
        }

        .navigation-bar h3 {
            color: {{ customization.button_text_color }}
        }

        .navigation-bar button {
            color: {{ customization.button_text_color }};
        }
    </style>
</head>
<body>
    <section>
        <div class="navigation-bar">
            <h1>{{ customization.company_name }}'s Dry Goods & Staples Supplier</h1>

            <div class="navigation-bar-buttons">
                <a href="{% url 'generate_po' %}"><h3>Generate Purchase Order</h3></a>
                <a href="{% url 'my_generated_po' %}"><h3>My Generated Orders</h3></a>

                <form action="{% url 'logout' %}">
                    <button>Logout</button>
                </form>
            </div>
        </div>

        <div class="title-heading">
            <h2>{{ customization.company_name }}'s Dry Goods & Staples Inventory Status</h2>
        </div>

        <div class="product-list-container">
            <div class="product-header">
                <div class="product-cell">ID</div>
                <div class="product-cell">Name</div>
                <div class="product-cell">Category</div>
                <div class="product-cell">Description</div>
                <div class="product-cell">Price</div>
                <div class="product-cell">Quantity in Stock</div>
                <div class="product-cell">Unit of Measurement</div>
                <div class="product-cell">Reorder Level</div>
                <div class="product-cell">Supplier</div>
            </div>

            {% for d in dry %}
            <div class="product-row">
                <div class="product-cell">{{ d.0 }}</div>
                <div class="product-cell">{{ d.1 }}</div>
                <div class="product-cell">{{ d.2 }}</div>
                <div class="product-cell">{{ d.3 }}</div>
                <div class="product-cell">₱ {{ d.4 }}</div>
                <div class="product-cell">{{ d.5 }}</div>
                <div class="product-cell">{{ d.6 }}</div>
                <div class="product-cell">{{ d.7 }}</div>
                <div class="product-cell">{{ d.8 }}</div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>
