<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meats List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'suppliercss/supplier.css' %}">

    <style>
        .navigation-bar {
            background-color: {{ customization.background_color }};
        }

        .navigation-bar {
            color: {{ customization.company_text_color }};
        }

        .navigation-bar h3 {
            color: {{ customization.button_text_color }}
        }

        .navigation-bar button {
            color: {{ customization.button_text_color }};
        }
    </style>
</head>
<body>
    <section>
        <div class="navigation-bar">
            {% if CLcustomization.logo %}
                <img src="{{ CLcustomization.logo.url }}" class="nav-logo" height="50px" width="50px" alt="Logo">
            {% else %}
                <p>No Image</p>
            {% endif %}
            <h1>{{ customization.company_name }}'s Supplier</h1>

            <div class="navigation-bar-buttons">
                <a href="{% url 'products_list' %}"><h3>Home</h3></a>
                <a href="{% url 'generate_po' %}"><h3>Generate Sales Order</h3></a>
                <a href="{% url 'my_generated_po' %}"><h3>My Orders</h3></a>

                <form action="{% url 'logout' %}">
                    <button>Logout</button>
                </form>
            </div>
        </div>

        <div class="title-heading">
            <h2>{{ customization.company_name }}'s Current Inventory Status</h2>
        </div>

        <div class="product-list-container">
            <div class="product-header">
                <div class="product-cell">ID</div>
                <div class="product-cell">Name</div>
                <div class="product-cell">Category</div>
                <div class="product-cell">Description</div>
                <div class="product-cell">Price</div>
                <div class="product-cell">Quantity in Stock</div>
                <div class="product-cell">Unit of Measurement</div>
                <div class="product-cell">Reorder Level</div>
                <div class="product-cell">Expiration Date</div>
                <div class="product-cell">Supplier</div>
            </div>

            {% for product in products %}
            <div class="product-row">
                <div class="product-cell">{{ product.id }}</div>
                <div class="product-cell">{{ product.name }}</div>
                <div class="product-cell">{{ product.category }}</div>
                <div class="product-cell">{{ product.description }}</div>
                <div class="product-cell">₱ {{ product.price }}</div>
                <div class="product-cell">{{ product.quantity_in_stock }}</div>
                <div class="product-cell">{{ product.unit_of_measurement }}</div>
                <div class="product-cell">{{ product.reorder_level }}</div>
                <div class="product-cell">{{ product.expiration_date }}</div>
                <div class="product-cell">{{ product.supplier.company_name }}</div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>
