<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meats List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'suppliercss/supplier.css' %}">

    <style>
        .navigation-bar {
            background-color: {{ customization.background_color }};
        }

        .navigation-bar {
            color: {{ customization.company_text_color }};
        }

        .navigation-bar h3 {
            color: {{ customization.button_text_color }}
        }

        .navigation-bar button {
            color: {{ customization.button_text_color }};
        }
    </style>
</head>
<body>

    <div class="navigation-bar">
        {% if CLcustomization.logo %}
            <img src="{{ CLcustomization.logo.url }}" class="nav-logo" height="50px" width="50px" alt="Logo">
        {% else %}
            <p>No Image</p>
        {% endif %}
        <h1>{{ customization.company_name }}'s Purchase Order Details</h1>

        <div class="navigation-bar-buttons">
            {% if request.user.username == 'meat' %}
                <a href="{% url 'meats_list' %}"><h3>Home</h3></a>
            {% elif request.user.username == 'baked' %}
                <a href="{% url 'baked_list' %}"><h3>Home</h3></a>
            {% elif request.user.username == 'beverages' %}
                <a href="{% url 'beverages_list' %}"><h3>Home</h3></a>
            {% elif request.user.username == 'condiments' %}
                <a href="{% url 'condiments_list' %}"><h3>Home</h3></a>
            {% elif request.user.username == 'dairy' %}
                <a href="{% url 'dairy_list' %}"><h3>Home</h3></a>
            {% elif request.user.username == 'dry' %}
                <a href="{% url 'dry_list' %}"><h3>Home</h3></a>
            {% elif request.user.username == 'packaging' %}
                <a href="{% url 'packaging_list' %}"><h3>Home</h3></a>
            {% elif request.user.username == 'plants' %}
                <a href="{% url 'plants_list' %}"><h3>Home</h3></a>
            {% endif %}
            <a href="{% url 'generate_po' %}"><h3>Generate Purchase Order</h3></a>
            <a href="{% url 'my_generated_po' %}"><h3>My Generated Orders</h3></a>

            <form action="{% url 'logout' %}">
                <button>Logout</button>
            </form>
        </div>
    </div>

    <div class="purchase-order-detail">
        <h1>Purchase Order Detail</h1>
        <form method="post">
            {% csrf_token %}

            <div class="top-part">
                <div class="top-half-part1">
                    <div class="detail-item">
                        <label for="company_name">Company Name:</label>
                        <span>{{ purchase_order.company_name }}</span>
                    </div>
                    <div class="detail-item">
                        <label for="company_address">Company Address:</label>
                        <span>{{ purchase_order.company_address }}</span>
                    </div>
                    <div class="detail-item">
                        <label for="supplier_name">Supplier Name:</label>
                        <span>{{ purchase_order.supplier_name }}</span>
                    </div>
                    <div class="detail-item">
                        <label for="supplier_address">Supplier Address:</label>
                        <span>{{ purchase_order.supplier_address }}</span>
                    </div>
                </div>

                <div class="top-half-part2">
                    <div class="detail-item">
                        <label for="date_issued">Date Issued:</label>
                        <span>{{ purchase_order.date_issued }}</span>
                    </div>
                    <div class="detail-item">
                        <label for="order_number">Order Number:</label>
                        <span>{{ purchase_order.order_number }}</span>
                    </div>
                </div>  
            </div>

            <hr>

            <div class="mid-part">
                <div class="mid-half-part1">
                    <div class="detail-item">
                        <label for="name">Product Name:</label>
                        <span>{{ purchase_order.name }}</span>
                    </div>
                    <div class="detail-item">
                        <label for="category">Category:</label>
                        <span>{{ purchase_order.category }}</span>
                    </div>
                    <div class="detail-item">
                        <label for="description">Description:</label>
                        <span>{{ purchase_order.description }}</span>
                    </div>
                    <div class="detail-item">
                        <label for="quantity">Quantity:</label>
                        <span>{{ purchase_order.quantity }}</span>
                    </div>
                    <div class="detail-item">
                        <label for="unit_of_measurement">Unit of Measurement:</label>
                        <span>{{ purchase_order.unit_of_measurement }}</span>
                    </div>
                </div>
                
                <div class="mid-half-part2">
                    <div class="detail-item">
                        <label for="unit_price">Unit Price:</label>
                        <span>₱ {{ purchase_order.unit_price }}</span>
                    </div>
                    <div class="detail-item">
                        <label for="subtotal">Subtotal:</label>
                        <span>₱ {{ purchase_order.subtotal }}</span>
                    </div>
                </div>  
            </div>
            
            <hr>

            <div class="bot-part-flex-end">
                <div class="bot-part">
                    <div class="detail-item">
                        <label for="total_amount_payable">Total Amount Payable:</label>
                        <span>₱ {{ purchase_order.total_amount_payable }}</span>
                    </div>
                    <div class="detail-item">
                        <label for="order_status">Order Status:</label>
                        <span>{{ purchase_order.get_order_status_display }}</span>
                    </div>

                    <hr>
                    
                    <div class="form-item">
                        {{ form.as_p }}
                        <button type="submit">Update Order Status</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</body>
</html>
