<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    

    <style>
        .header-container {
            background-color: {{ customization.background_color }};
            color: {{ customization.company_text_color }};
        }

        .header-container h3, button{
            color: {{ customization.button_text_color }};
        }
        
    </style>
</head>
<body> 
    {% block navigation_bar %}

    <div class="header-container">
        {% if CLcustomization.logo %}
            <img src="{{ CLcustomization.logo.url }}" class="nav-logo" height="50px" width="50px" alt="Logo">
        {% else %}
            <p>No Image</p>
        {% endif %}
        <h1>{{ customization.company_name }}'s IMS</h1>
        
        <div class="header-container-buttons">
            <a href="{% url 'home' %}"><h3>Home</h3></a>
            <a href="{% url 'addproduct' %}"><h3>Add Product</h3></a>
            <a href="{% url 'my_po' %}"><h3>Sales Orders</h3></a>
            <a href="{% url 'customization' %}"><h3>UI Settings</h3></a>

            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button class="logout-button" type="submit">Logout</button>
            </form>
        </div>
    </div>

    {% endblock %}
</body>
</html>
